:root {
    --background: #F5F5F5;
    --back-color: #152237;
    --greencol: #44DD8A;
    --gradient-blue: #15B7E2;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');